---
// メニュー項目の一覧とタイトルをpropsとして受け取る
const { title, items = [] } = Astro.props;
---

<header>
  <style>
    header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      margin-bottom:80px;
    }

    .logo {
      width: 80px;
    }

    @media (max-width: 600px) {
      .logo {
        width: 70px;
      }
    }

    nav ul {
      display: flex;
      gap: 1em;
      list-style: none;
      padding: 0;
      margin: 0;
      justify-content: flex-end;
    }
  </style>

  <img class="logo" src="/momen_logo.png" alt="Website logo" />

  <div>
    <nav>
      <ul>
        {items.map(item => (
          <li><a href={item.link}>{item.text}</a></li>
        ))}
      </ul>
    </nav>
  
    <h1>{title}</h1>
  </div>
</header>
